 <br/>
 

  <h2 style="text-align: center"> Employee Details</h2>

  <h4 style="color: rgb(0, 0, 255)"> To capture the following details click on the download button at the end of the page.(HTML to PDF)</h4>

  <h6> The downloaded format of the document will be PDF.</h6>


<div id="contentToConvert" > 
<table>
 <tr>
  <th>ID </th>
   <th>Employee ID</th>
   <th> First Name</th>
   <th> Last Name</th>
   <th>Salary </th>
   <th>Designation </th>
   <th>Action</th>
  </tr>
 

<tr *ngFor="let i of employee;let ind=index">
<td> {{i.id}}</td>
<td>{{i.employee_id}}</td>
<td> {{i.firstName}}</td>
<td> {{i.lastName}}</td>
<td> {{i.salary}}</td>
<td> {{i.designation}}</td> 

<td><button class="btn btn-info" (click)="remove(ind)">Remove</button> </td>
</tr>
</table>

<br/>



<h6> Add record</h6>
<form #myForm="ngForm" (ngSubmit)="record(myForm)">
<input class="data" type="number" [(ngModel)]="id" name="id"placeholder="Enter id"> &nbsp; 
<input  class="data" type="number" [(ngModel)]="employee_id" name="employee_id" placeholder="Enter Employee Id"> &nbsp; 
<input class="data" type="string" [(ngModel)]="firstName" name="firstName" placeholder="Enter FirstName"> &nbsp;
<input class="data" type="string" [(ngModel)]="lastName" name="lastName"placeholder="Enter LastName"> &nbsp;  
<input class="data" type="string" [(ngModel)]="salary" name="salary"placeholder="Enter Salary"> &nbsp;
<input class="data" type="string" [(ngModel)]="designation" name="designation"placeholder="Enter Designation"> &nbsp; 
<button type="submit" class="btn btn-success" > Submit</button> &nbsp;
<input type="reset" value="Reset" class="btn btn-success">

</form>
</div>



<br/>
<div style="text-align: center" > 
    <button class="btn btn-info" (click)="add()">Add</button> &nbsp;
    
    <button (click)="captureScreen()" class="btn btn-info"> Download</button> </div>